.header {
  width: 100%;
  background-image: url(../img/Bg.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  height: 782px;
}
.header * {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.header .header__head {
  grid-column: 1/13;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 50px;
}
.header .header__head .header-button__menu-open {
  background-image: url(../img/menu.svg);
  background-size: contain;
  height: 48px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  filter: invert(1);
  display: none;
}
.header .header__head .header__logo {
  font-family: var(--second-family-700);
  font-size: 18px;
}
.header .header__head .header__logo::before {
  content: "";
  display: inline-block;
  width: 25px;
  aspect-ratio: 1/1;
  background-image: url(../img/cloud.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  margin-right: 8px;
}
.header .header__head .header__nav {
  display: flex;
  align-items: center;
}
.header .header__head .header__nav .nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.header .header__head .header__nav .nav__list .nav__item .nav__link {
  font-family: var(--font-family-500);
  font-size: 14px;
  position: relative;
}
.header .header__head .header__nav .nav__list .nav__item .nav__link:hover::before {
  transform: scaleX(1);
}
.header .header__head .header__nav .nav__list .nav__item .nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: white;
  height: 1px;
  bottom: -7px;
  transform: scaleX(0);
}
.header .header__head .header__login {
  font-family: var(--font-family-400);
  font-size: 14px;
  border-radius: 6px;
  width: 100px;
  height: 40px;
}
.header .header__text {
  grid-column: 4/10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 85px;
}
.header .header__text h1 {
  font-family: var(--font-family-700);
  font-size: 4.5rem;
  letter-spacing: 0.05em;
}
.header .header__text p {
  font-family: var(--font-family-500);
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  text-transform: initial;
  width: 83%;
}
.header .header__cta {
  grid-column: 6/8;
  margin-top: 22px;
  font-family: var(--font-family-400);
  font-size: 14px;
  border-radius: 6px;
  width: 160px;
  height: 50px;
  border: none;
}

@media screen and (max-width: 992px) {
  .header .header__head .header__nav,
  .header .header__head .header__login {
    display: none;
  }
  .header .header__head .header-button__menu-open {
    display: inline-block;
  }
  .header .header__text {
    grid-column: 3/11;
  }
}
@media screen and (max-width: 767px) {
  .header .header__text {
    grid-column: 1/13;
  }
  .header .header__text h1 {
    /* font-size: 4rem; */
  }
}
@media screen and (max-width: 575px) {
  .header .header__text {
    gap: 60px;
  }
  .header .header__text p {
    font-size: 2rem;
  }
  .header .header__cta {
    margin-top: 60px;
  }
}
@media screen and (max-width: 373px) {
  .header {
    height: 630px;
  }
}
.description {
  padding-block: 95px;
}
.description .description__container {
  row-gap: 50px;
}
.description .description__container .description__text {
  grid-column: 1/6;
  padding-top: 2rem;
}
.description .description__container .description__text h2 {
  margin-bottom: 2.8rem;
}
.description .description__container .description__text p {
  line-height: 140%;
  text-align: justify;
  margin-bottom: 0.9rem;
}
.description .description__container .description__text a {
  line-height: 140%;
  text-align: justify;
}
.description .description__video {
  grid-column: 7/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description .description__video img {
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  .description {
    padding-block: 60px;
  }
  .description .description__container .description__text,
  .description .description__video {
    grid-column: 1/13;
  }
}
.overview {
  background: #fafafa;
  padding-bottom: 229px;
  padding-top: 3.9375rem;
}
.overview .overview__container h2 {
  grid-column: 1/13;
  text-align: center;
  margin-bottom: 2.75rem;
}
.overview .overview__container .overview__card {
  grid-column: span 4;
}
.overview .overview__container .overview__card:nth-of-type(1) .overview__card__wrapper {
  background-image: url(../img/Bg1.svg);
}
.overview .overview__container .overview__card:nth-of-type(2) .overview__card__wrapper {
  background-image: url(../img/Bg2.svg);
}
.overview .overview__container .overview__card:nth-of-type(3) .overview__card__wrapper {
  background-image: url(../img/Bg3.svg);
}
.overview .overview__container .overview__card .overview__card__wrapper {
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45%;
}
.overview .overview__container .overview__card .overview__card__wrapper .overview__card__text {
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  width: 83%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 26px 32px;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}
.overview .overview__container .overview__card .overview__card__wrapper .overview__card__text p {
  text-align: center;
  line-height: 150%;
}
@media screen and (max-width: 992px) {
  .overview .overview__container .overview__card:nth-of-type(1) {
    grid-column: span 5;
  }
  .overview .overview__container .overview__card:nth-of-type(2) {
    grid-column: 8/span 5;
    grid-row: 3;
  }
  .overview .overview__container .overview__card:nth-of-type(3) {
    grid-column: span 5;
    grid-row: 4;
  }
}
@media screen and (max-width: 676px) {
  .overview .overview__container .overview__card:nth-of-type(1) {
    grid-column: span 6;
  }
  .overview .overview__container .overview__card:nth-of-type(2) {
    grid-column: 7/span 6;
  }
  .overview .overview__container .overview__card:nth-of-type(3) {
    grid-column: span 6;
  }
}
@media screen and (max-width: 510px) {
  .overview__card {
    grid-column: span 12 !important;
  }
  .overview .overview__container .overview__card .overview__card__wrapper {
    background-size: contain;
    height: auto;
    width: 100%;
  }
  .overview__container {
    row-gap: 6rem;
  }
}
.features {
  padding-top: 3.9rem;
  padding-bottom: 8.1rem;
}
.features .features__container h2 {
  text-align: center;
  grid-column: span 12;
  margin-bottom: 2rem;
}
.features .features__container .feature {
  grid-column: span 3;
  display: flex;
  row-gap: 0.7rem;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.features .features__container .feature:nth-of-type(1) figure {
  height: 8.5rem !important;
}
.features .features__container .feature .number {
  font-family: var(--second-family-700);
  font-size: 100px;
  color: rgba(16, 16, 16, 0.08);
  display: flex;
  justify-content: center;
}
.features .features__container .feature .number figure {
  position: absolute;
  display: inline-flex;
  align-items: flex-end;
  height: 8rem;
}
.features .features__container .feature h3 {
  margin-top: 0.5rem;
}
.features .features__container .feature p {
  text-align: center;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .features .features__container .feature {
    grid-column: span 6;
  }
  .features .features__container .feature p {
    width: 60%;
  }
}
@media screen and (max-width: 575px) {
  .features .features__container .feature .number figure {
    height: 10rem;
  }
  .features .features__container .feature:nth-of-type(1) figure {
    height: 10.5rem !important;
  }
}
@media screen and (max-width: 510px) {
  .features .features__container .feature .number figure {
    height: 12rem;
  }
  .features .features__container .feature:nth-of-type(1) figure {
    height: 12.5rem !important;
  }
}
@media screen and (max-width: 400px) {
  .features .features__container .feature {
    grid-column: span 12;
  }
}
@media screen and (max-width: 373px) {
  .features .features__container .feature .number figure {
    height: 14rem;
  }
  .features .features__container .feature:nth-of-type(1) figure {
    height: 14.5rem !important;
  }
  .feature {
    margin-top: 1rem;
  }
}
.download {
  background-color: var(--accent-primary);
  padding-block: 5.8125rem;
}
.download .download__text {
  color: #fff;
  grid-column: span 5;
  padding-top: 1.8rem;
}
.download .download__text p {
  line-height: 140%;
  text-align: justify;
  margin-top: 3rem;
}
.download .download__text .actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 2.7rem;
}
.download .download__text .actions * {
  background-repeat: no-repeat;
  width: 32px;
  aspect-ratio: 1/1;
  border: unset;
  background-color: transparent;
}
.download .download__text .actions .actions__icon__playstore {
  background-image: url(../img/playstore.svg);
}
.download .download__text .actions .actions__icon__appstore {
  background-image: url(../img/appstore.svg);
}
.download figure {
  grid-column: 7/span 5;
}
@media screen and (max-width: 992px) {
  .download .download__text {
    grid-column: span 7;
  }
  .download figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 8/span 7;
  }
  .download_image {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .download .download__text {
    grid-column: span 12;
    grid-row: 3;
  }
  .download figure {
    grid-column: span 12;
    grid-row: 2;
  }
}
.contact {
  padding-top: 9.875rem;
  padding-bottom: 8.5rem;
}
.contact .contact__container .contact__text {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 3.5rem;
  margin-top: 1.5rem;
}
.contact .contact__container .contact__text p {
  line-height: 140%;
  text-align: justify;
}
.contact .contact__container .contact__form {
  grid-column: 7/13;
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
}
.contact .contact__container .contact__form input {
  border: 1px solid #333;
  border-radius: 6px;
  font-family: var(--font-family-400);
  font-size: 1rem;
  padding: 20px 31px;
}
.contact .contact__container .contact__form input::-moz-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact__container .contact__form input::placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.contact .contact__container .contact__form button {
  text-transform: uppercase;
  align-self: flex-start;
  background-color: var(--accent-primary);
  padding: 17px 38px;
  border: unset;
  border-radius: 6px;
  color: white;
}
.contact .contact__container .contact__form button:hover {
  background: transparent;
  color: var(--accent-primary);
  outline: 1px solid var(--accent-primary);
}

@media screen and (max-width: 767px) {
  .contact .contact__container .contact__text {
    grid-column: span 12;
    margin-bottom: 3rem;
    margin-top: 0;
  }
  .contact .contact__container .contact__form {
    grid-column: span 12;
  }
}
@media screen and (max-width: 575px) {
  .contact .contact__container .contact__form input {
    font-size: 1.5rem;
  }
}
footer {
  background: #fafafa;
}
footer .footer__container .footer__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 12;
  font-style: normal;
  padding-block: 45px;
}
footer .footer__container .footer__text h3 {
  margin-bottom: 1.1875rem;
}
footer .footer__container .footer__text p:first-of-type {
  line-height: 150%;
  margin-bottom: 2.8125rem;
}

@font-face {
  font-family: "Lato-400";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato-700";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-400";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-500";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-700";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family-400: "Roboto-400", sans-serif;
  --font-family-500: "Roboto-500", sans-serif;
  --font-family-700: "Roboto-700", sans-serif;
  --second-family-400: "Lato-400", sans-serif;
  --second-family-700: "Lato-700", sans-serif;
  --accent-primary: #ED4C5C;
  --accent-secondary: #EE3D1B;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 1s all;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: var(--font-family-400);
}

p {
  font-family: var(--font-family-400);
}

.color-red {
  color: var(--accent-primary);
}

h2 {
  font-family: var(--font-family-500);
  font-size: 2.25rem;
}

h3 {
  font-family: var(--font-family-500);
  font-size: 1.125rem;
  color: #101010;
  text-align: center;
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: clamp(1rem, 2vw, 2rem);
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-inline: 168px;
}

.white-button {
  background: #fff;
}
.white-button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
}

.red-button {
  background-color: transparent;
  border: 1px solid #fff;
}
.red-button:hover {
  background: #fff;
  color: var(--accent-primary);
}

.size-12 {
  font-size: 0.75rem;
}

.size-14 {
  font-size: 0.875rem;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-inline: 50px;
  }
}
@media screen and (max-width: 992px) {
  .size-12 {
    font-size: 0.85rem;
  }
  .size-14 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
  .size-14 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 12px;
  }
  .container {
    padding-inline: 27px;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .size-12 {
    font-size: 0.95rem;
  }
  .size-14 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 510px) {
  html {
    font-size: 10px;
  }
  .container {
    padding-inline: 11px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  h3 {
    font-size: 2rem;
  }
  .size-12 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 373px) {
  html {
    font-size: 8px;
  }
}/*# sourceMappingURL=main.css.map */