@import "blocks/_header.scss";
@import "blocks/_description.scss";
@import "blocks/_overview.scss";
@import "blocks/_features.scss";
@import "blocks/_download.scss";
@import "blocks/_contact.scss";
@import "blocks/_footer.scss";

@font-face {
  font-family: "Lato-400";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-700";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-400";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-500";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-700";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-400: "Roboto-400", sans-serif;
  --font-family-500: "Roboto-500", sans-serif;
  --font-family-700: "Roboto-700", sans-serif;
  --second-family-400: "Lato-400", sans-serif;
  --second-family-700: "Lato-700", sans-serif;
  --accent-primary: #ED4C5C;
  --accent-secondary: #EE3D1B;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 1s all;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: var(--font-family-400);
}

p {
  font-family: var(--font-family-400);
}

.color-red {
  color: var(--accent-primary);
}

h2 {
  font-family: var(--font-family-500);
  font-size: 2.25rem;
}

h3 {
  font-family: var(--font-family-500);
  font-size: 1.125rem;
  color: #101010;
  text-align: center;
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: clamp(1rem, 2vw, 2rem);
  column-gap: 30px;
  padding-inline: 168px;
}

.white-button {
  background: #fff;

  &:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
  }
}

.red-button {
  background-color: transparent;
  border: 1px solid #fff;

  &:hover {
    background: #fff;
    color: var(--accent-primary);
  }
}

.size-12 {
  font-size: 0.75rem;
}

.size-14 {
  font-size: 0.875rem;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-inline: 50px;
  }
}

@media screen and (max-width: 992px) {
  .size-12 {
    font-size: .85rem;
  }

  .size-14 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .size-14 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 12px;
  }

  .container {
    padding-inline: 27px;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .size-12 {
    font-size: .95rem;
  }

  .size-14 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 510px) {
  html {
    font-size: 10px;
  }

  .container {
    padding-inline: 11px;
    column-gap: 0;
  }

  h3 {
    font-size: 2rem;
  }

  .size-12 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 373px) {
  html {
    font-size: 8px;
  }

}