.description {
  padding-block: 93px;

  .description__container {
    row-gap: 50px;

    .description__text {
      grid-column: 1/6;
      padding-top: 2rem;

      h2 {
        font-family: var(--font-family-500);
        font-size: 2.25rem;
        margin-bottom: 3rem;
      }

      p {
        font-family: var(--font-family-400);
        font-size: 0.875rem;
        line-height: 140%;
        text-align: justify;
        margin-bottom: 0.9rem;
      }

      a {
        font-family: var(--font-family-400);
        font-size: 0.875rem;
        line-height: 140%;
        text-align: justify;
      }
    }
  }


  .description__video {
    grid-column: 7/12;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      height: auto;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .description {
    padding-block: 60px;
  }

  .description .description__container .description__text,
  .description .description__video {
    grid-column: 1/13;
  }

  .description .description__container .description__text p,
  .description .description__container .description__text a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {

  .description .description__container .description__text p,
  .description .description__container .description__text a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 575px) {
  .description .description__container .description__text h2 {
    font-size: 3rem;
  }

  .description .description__container .description__text p,
  .description .description__container .description__text a {
    font-size: 1.5rem;
  }
}