.description {
  padding-block: 95px;

  .description__container {
    row-gap: 50px;

    .description__text {
      grid-column: 1/6;
      padding-top: 2rem;

      h2 {
        margin-bottom: 2.8rem;
      }

      p {
        line-height: 140%;
        text-align: justify;
        margin-bottom: 0.9rem;
      }

      a {
        line-height: 140%;
        text-align: justify;
      }
    }
  }


  .description__video {
    grid-column: 7/12;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      height: auto;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .description {
    padding-block: 60px;
  }

  .description .description__container .description__text,
  .description .description__video {
    grid-column: 1/13;
  }
}