.features {
  padding-top: 3.9rem;
  padding-bottom: 8.1rem;

  .features__container {
    h2 {
      text-align: center;
      grid-column: span 12;
      margin-bottom: 2rem;
    }

    .feature {
      grid-column: span 3;
      display: flex;
      row-gap: 0.7rem;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:nth-of-type(1) figure {
        height: 8.5rem !important;
      }

      .number {
        font-family: var(--second-family-700);
        font-size: 100px;
        color: rgba(16, 16, 16, 0.08);
        display: flex;
        justify-content: center;

        figure {
          position: absolute;
          display: inline-flex;
          align-items: flex-end;
          height: 8rem;



          img {}
        }
      }

      h3 {
        margin-top: .5rem;
      }

      p {
        text-align: center;
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .features .features__container .feature {
    grid-column: span 6;
  }

  .features .features__container .feature p {
    width: 60%;
  }
}

@media screen and (max-width: 575px) {
  .features .features__container .feature .number figure {
    height: 10rem;
  }

  .features .features__container .feature:nth-of-type(1) figure {
    height: 10.5rem !important;
  }
}

@media screen and (max-width: 510px) {
  .features .features__container .feature .number figure {
    height: 12rem;
  }

  .features .features__container .feature:nth-of-type(1) figure {
    height: 12.5rem !important;
  }
}

@media screen and (max-width: 400px) {
  .features .features__container .feature {
    grid-column: span 12;
  }

}

@media screen and (max-width: 373px) {
  .features .features__container .feature .number figure {
    height: 14rem;
  }

  .features .features__container .feature:nth-of-type(1) figure {
    height: 14.5rem !important;
  }

  .feature {
    margin-top: 1rem;
  }
}