footer {
  background: #fafafa;

  .footer__container {
    .footer__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      grid-column: span 12;
      font-style: normal;
      padding-block: 45px;

      h3 {
        margin-bottom: 1.1875rem;
      }

      p {
        &:first-of-type {
          line-height: 150%;
          margin-bottom: 2.8125rem;
        }
      }
    }
  }
}